// Core style rules for basic building blocks. Contains mostly white
// spaces, headings flexboxes, grids et cetera.

// Character encoding
@charset 'utf-8'

// Import of other Sass files
@use '../config.sass' as config
@use 'defaults.sass'

// All white space classes
@for $i from 1 through 50
	
	// Define a size for each white space class (with a step of 5,
	// given the loop goes from 1 through 50, this will go to a
	// maximum size of 250).
	$size: $i * 5

	// Define a unit to use in each white space class.
	$unit: config.$default_unit

	// Regular white space
	.ws#{$size}
		height: #{$size}#{$unit}

	// Horizontal white space
	.hws#{$size}
		width: #{$size}#{$unit}

// All heading classes
@for $i from 1 through 6

	// Define a font size for the current heading.
	$size: (12 - $i) * 4

	// Define a unit to use in each heading class.
	$unit: 'pt'
	
	// Define a heading class.
	h#{$i}, .h#{$i}
		font: normal normal 400 #{$size}#{$unit}/normal #{config.$default_font_family}
		margin: 25px 0 15px 0

// Define flexbox classes
.flex, .i-flex
	&.equal > *
		flex: 1 1 100%

.flex
	display: flex

.i-flex
	display: inline-flex

// Define lists of flexbox rule property values.
$aligned_items: ['center' 'flex-end' 'flex-start' 'stretch']
$flex_directions: ['column' 'flex' 'row']
$justified_contents: ['center' 'flex-end' 'flex-start' 'space-around' 'space-between' 'space-evenly']

// All aligned items classes
@each $aligned_item in $aligned_items
	.a-#{$aligned_item}
		align-items: #{$aligned_item}

// All flex directions classes
@each $flex_direction in $flex_directions

	// Is the current flex direction not 'flex'?
	@if $flex_direction != 'flex'
		.d-#{$flex_direction}
			flex-direction: #{$flex_direction}

	@else
		.d-flex
			flex-direction: row

			@media screen and (max-width: #{config.$mobile_screen_width}px)
				flex-direction: column

// All justified contents classes
@each $justified_content in $justified_contents
	.j-#{$justified_content}
		justify-content: #{$justified_content}

table, .table
	display: table

	> tr, > .row
		display: table-row

		> th, > td, > .header, > .cell
			display: table-cell
